*{
    -webkit-user-select:none;
}

body{
    margin: 0;
    padding-top: 0;
}
#pad {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #113F59;
    margin-top: 10px;
}

.col{
    position:fixed;
    top:0px;
    bottom:0px;
    background-color: #113F59;
    width:20%;
    overflow-x:hidden;
    overflow-y:auto;
    -webkit-overflow-scrolling: touch;
}

.j{
    position:relative;
    box-sizing:border-box;
    font-size: 1em;
    word-wrap:normal;
    height:6em;
    width:100%;
    background-color: #00818a;
    padding: 1em;
    /* transition: background-color 40ms ease; */
    border: solid 2px rgba(0, 0, 0, 0.3);
    font-family: Lato;
    color: #f7be16;
}

.jstatus{
    position: absolute;
    bottom:20px;
    height:4px;
    width:calc(100% - 2em);
}

.jcurrent{
    background-color:#f7be16;
    z-index: 2;

    transition: width 400ms ease-in-out;
}

.jtotal{
    background-color:black;
    z-index: 1;
}

#col1{
    left:0;
}
#col2{
    left:20%;
}
#col3{
    left:40%;
}
#col4{
    left:60%;
}
#col5{
    left:80%;
}
